.cards{
    width: 300px;
    border-radius: 25px;
}
.card-img img{
   height: 200px;
   border-radius: 25px;

}
.desc{
    
    background-color: #fff;
    height: 80px;
    padding: 25px;
    padding-bottom: 40px;
    border-radius: 25px;


}