.cards{
    margin-bottom: 25px;
    width: 330px;
    height: 222px;
    /* border-radius: 25px; */
    display: flex;
    justify-content: space-between
    


    
    

}
.card-img img{
   height: 130px;
   /* border-radius: 25px 25px 0 0; */
    width: 310px;
    

}
.desc{
    
    background-color: #fff;
    height: 100px;
    padding: 15px;
    padding-bottom: 40px;
    /* border-radius: 0 0 25px 25px; */
     width: 310px;


}